:root {
  --beige: #c09b6b;
  --beige-background: rgb(243, 237, 224);
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

/* Header */
.header {
  border: white 1.5rem solid;
  padding: 1.5rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/contact-background-pic.jpg") no-repeat center center/cover;
  height: 100vh;
  text-transform: uppercase;
}

/* Navbar */

.navbar .logo h2 {
  font-size: 3.5rem;
  color: white;
}

.navbar .logo h2:hover {
  color: #bbbbbb;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.2rem;
}

.navbar ul {
  display: flex;
}
.navbar ul li {
  display: flex;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
}

.navbar li a,
.navbar,
li a:visited {
  text-decoration: none;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem;
  border: solid white 2px;
  width: 35rem;
}

h3 {
  font-size: 4rem;
  font-family: "Staatliches", cursive;
  color: white;
  margin-bottom: 2rem;
}

.day h4 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Pathway Gothic One", sans-serif;
}

.line {
  color: rgb(177, 177, 177);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

.time {
  color: rgb(190, 187, 187);
}

.closed {
  color: var(--beige);
}
.opening-hours p {
  font-family: "Staatliches", cursive;
  font-size: 2rem;
  color: var(--beige);
}

.contact-us {
  margin-left: 10rem;
}
.contact-us h2 {
  font-family: "Staatliches", cursive;
  font-size: 4rem;
  color: white;
}

.contact-us hr {
  color: var(--beige);
  width: 10rem;
  height: 0.3rem;
  border: none;
  background-color: var(--beige);
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.contact-us p {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2rem;
  color: white;
  font-size: 3rem;
}

.contact-us .social a {
  color: white;
  margin-right: 3rem;
}

.social i {
  font-size: 2rem;
  margin-top: 2rem;
}

.email {
  margin-top: 3rem;
}

#email {
  margin-bottom: 3rem;
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  background: var(--beige-background);
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 3rem;
  border: white 1.5rem solid;
  margin-top: -1.5rem;
}

.footer img {
  width: 15rem;
  margin: 3rem 0rem;
}

.contact-info {
  margin-bottom: 2rem;
}

.contact-info span {
  color: var(--beige);
  padding: 0rem 3rem;
}

.social-footer {
  margin: 3rem 0rem;
}

.social-footer a {
  color: var(--beige);
  margin: 0rem 5rem;
}

.copyright {
  color: #bbbbbb;
  font-size: 1.3rem;
}

@media only screen and (max-width: 820px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    border: white 1.5rem solid;
    padding: 1.5rem 2rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/contact-background-pic.jpg") no-repeat center center/cover;
    height: 150vh;
    text-transform: uppercase;
  }

  .opening-hours {
    margin-bottom: 5rem;
  }

  .contact-us {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem;
  }
}

@media only screen and (max-width: 500px) {
  .day h4 {
    font-size: 2.5rem;
  }

  .opening-hours {
    width: 28rem;
  }
}

@media only screen and (max-width: 430px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
